@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background-color: black;
  background-image: url("./assets//bg.jpg");
  background-size: cover;
  background-position: center;
}